Click==7.0
Flask==1.1.1
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
Werkzeug==0.16.0
SQLAlchemy==1.1.9
Flask_Caching
Flask_SQLAlchemy==2.2
marshmallow
Flask_Bcrypt
flask_apispec
PyJWT
Flask-JWT-Extended
unicode_slugify
psycopg2
Flask-Migrate
gunicorn
Flask-Cors
uuid
